@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  background-color: rgb(31, 92, 246);
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  place-items: center;
  justify-content: center;
}
.counter-container {
  font-size: 30px;
  text-align: center;
  align-items: center;
}
span {
  font-family: "Anton";
}
