*,*::after,*::before{
    box-sizing: border-box;
    background-color: rgb(17, 33, 27);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.color{
    color: white;
}
.btn{
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
}