@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@400;500;700&display=swap');
*,*::after,*::before{
    background-color: black;
    box-sizing: border-box;
    font-family: 'Anton';
}
.outerDiv{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.innerDiv{
    width: 80vw;
    height: 70vh;
    display: grid;
    place-items: center;
}
.main-heading{
    padding: 30px;
    color: white;
    text-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
    font-size: 190px;
}
